:root {
    font-family: Barlow, Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  
    --yellow-color: #ecea1e;
    --soft-yellow-color: #f9e79a;
    --black-color: #1a1a1a
  }

/* mobile breakpoint */

@media (min-width: 279.98px) and (max-width: 575.98px) {
    .banner-home {
        margin-top: 70px;
    }
    .logo-navbar img {
        width: 70px;
        height: 70px;
    }

    .head-contact img {
        width: 15px;
        height: 15px;
    }

    .head-contact span {
        font-size: 0.875rem;
    }
    
    .banner-home {
        background: var(--yellow-color);
    }

    .img-bees {
        display: none;
    }

    .head-text .option-head{
        display: none;
    }

    .head-text.form .option-head:first-child {
        display: block !important;
    }

    .banner-text h3 {
        font-size: 2.725rem;
    }

    .hw-title{
        font-size: 1.725rem;
    }
    .hw-specifications {
        flex-direction: column;
    }
    .hw-button a {
        font-size: 1.5rem;
    }
    .hw-button span {
        font-weight: initial;
    }
    .beer-cooler {
        background-color: var(--black-color);
    }
    .beer-cooler::before {
        display: none;
    }

    .bc-title {
        font-size: 1.5rem;
        color: #f8f8f8;
    }

    .bc-content {
        flex-direction: column;
        gap: 50px;
    }

    .bc-content img {
        width: 100%;
    }

    .bc-content ul li {
        font-size: 1.225rem;
    }

    .rules-topic{
        display: flex;
        flex-direction: column;
    }

    .rules-box strong {
        display: none;
      }

    .b-contents {
        flex-direction: column;
        gap: 0;
        width: 100%;
    }
    .b-image {
        height: 100%;
        width: 100%;
    }

    .b-image img {
        height: 100%;
    }

    .b-descriptions {
        padding: 3.25rem 1rem;
    }
    .cancel {
        flex-direction: column;
    }

    .title-cancel {
        font-size: 1.525rem;
    }
    .content-cancel p {
        font-size: 1.125rem;
    }
    .box-alert {
        width: 90%;
    }

}

/* breakpoint 880px */

@media (max-width: 882px) {
    .banner-home {
        background: var(--yellow-color);
    }
    .img-bees {
        display: none;
    }
}